* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  background: linear-gradient(
    to bottom right,
    rgb(128, 2, 2),
    rgb(128, 6, 6),
    rgb(97, 15, 15),
    rgb(92, 2, 2),
    rgb(73, 0, 0)
  );
}

.container {
  width: 100vw;
  padding: 20% 5% 0;
  box-sizing: border-box;
}

#top {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(128, 128, 128, 0.5)
  );
  backdrop-filter: blur(3px);
  box-sizing: border-box;
  width: 100%;
  padding: 3% 2%;
  z-index: 1;
}
#top .logo {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
#top .logo p {
  font-size: 4.5vw;
  color: white;
  font-family: "Courier New", Courier, monospace !important;
}
#top img {
  width: 25%;
}
#top .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}
#top .menu button {
  background: transparent;
  border: none;
  width: 30%;
}
#top .menu img {
  width: 100%;
  cursor: pointer;
}
#top .menu .app {
  background: rgb(179, 3, 3);
  width: 50%;
  border-radius: 1vw;
  padding: 2%;
  font-size: 3.5vw;
}

#menuBar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(61, 1, 1, 0.95);
  box-sizing: border-box;
  z-index: 1;
  padding: 0 2%;
}
#menuBar .close {
  display: flex;
  padding: 4% 7%;
  box-sizing: border-box;
  justify-content: end;
  width: 100%;
  margin-bottom: 2vw;
}
#menuBar .close a {
  font-size: 10vw;
  font-weight: bolder;
  color: white;
}

#menuBar .options {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#menuBar .options a {
  color: white;
  text-decoration: none;
  font-size: 9vw;
  background-color: rgb(104, 0, 0);
  border: 0.5vw solid white;
  margin: 2vw 0;
  box-sizing: border-box;
  padding: 1% 7%;
  cursor: pointer;
  border-radius: 2vw;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2% 0;
}
.info .image {
  width: 100%;
  background: white;
  display: inline-block;
  position: relative;
}
.info .image img {
  display: block;
  width: 100%;
}
.info .image .gradientImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(167, 166, 166, 0.5),
    rgba(167, 166, 166, 0)
  );
}
.content .info .image h1 {
  position: absolute;
  font-size: 3.5vw;
  width: 40%;
  text-align: center;
  font-weight: bolder;
  bottom: 0;
  left: 0;
  margin: 3% 0;
  color: white;
}
.info .text {
  background: linear-gradient(
    to bottom,
    rgba(122, 122, 122, 0.5),
    rgba(167, 166, 166, 0.356)
  );
  padding: 0 2%;
  text-align: justify;
}
.info .text p {
  font-size: 4vw;
}
.info .text p strong {
  font-size: 5.5vw;
}
.content .btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3% 0;
}
.content .btn button {
  border: none;
  width: 70%;
  height: 10vw;
  font-size: 4vw;
  margin-bottom: 5%;
}

button {
  background: brown;
  border: 0;
  border-radius: 3vw;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transition: 0.3s;
  text-shadow: 0 0px 25px rgb(255, 255, 255);
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.548));
  color: white !important;
}
a:hover {
  transition: 0.3s;
  text-shadow: 0 0px 25px rgb(255, 255, 255);
  color: white !important;
}

/*Footer*/
footer {
  width: 100%;
  padding: 3% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .socialMedias {
  width: 70%;
}
footer .socialMedias ul {
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100%;
}
footer .socialMedias ul li {
  width: 12%;
}
footer .socialMedias ul li a img {
  width: 100%;
}

footer .contactForm {
  width: 100%;
}
footer p {
  text-align: center;
  color: white;
  font-size: 7.5vw;
}
footer .contactForm form {
  padding: 0 7%;
  box-sizing: border-box;
}
footer .contactForm form p {
  text-align: left;
  color: white;
  font-size: 4vw;
}
form input {
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
  width: 100%;
  max-width: 100%;
  outline: none;
  color: white;
  font-size: 3.5vw;
}
form textarea {
  width: 100%;
  height: 30vw;
  font-size: 3.5vw;
}
footer .contactForm form button {
  margin: 8% 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 10vw;
}
/*About Us*/
.chapters {
  width: 100%;
  text-align: justify;
  margin: auto;
  font-size: 4vw;
  background: linear-gradient(
    to bottom right,
    rgba(99, 99, 99, 0.25),
    rgba(255, 255, 255, 0.25)
  );
  padding: 3%;
  box-sizing: border-box;
}
.chapters b {
  font-size: 6vw;
}

@media only screen and (min-width: 768px) {
  #top .logo {
    width: 25%;
    padding: 0 2%;
  }
  #top .logo img {
    width: 20%;
  }
  #top .logo p {
    font-size: 3.5vw;
  }
  #top .menu {
    width: 50%;
  }
  #top .menu button {
    width: 20%;
  }
  #top .menu .app {
    width: 40%;
    padding: 2%;
    font-size: 2.3vw;
  }
  #menuBar .close a {
    font-size: 7vw;
  }
  #menuBar .options a {
    font-size: 5vw;
    margin: 1% 0;
  }
  .info .text p {
    font-size: 3vw;
  }
  .info .text p strong {
    font-size: 5vw;
  }
  .content .info .image h1 {
    position: absolute;
    font-size: 3vw;
    width: 40%;
    text-align: center;
    font-weight: bolder;
    bottom: 0;
    left: 0;
    margin: 3% 0;
    color: white;
  }
  .content .info {
    margin: auto;
    width: 100%;
  }
  /*About Us*/
  .chapters {
    width: 90%;
    font-size: 2.8vw;
  }
  .chapters b {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  #top {
    padding: 0;
  }
  #top .logo {
    width: 20%;
  }
  #top .logo p {
    font-size: 2.5vw;
  }
  #top .menu {
    width: 30%;
  }
  #top .menu .app {
    border-radius: 0.5vw;
    font-size: 1.3vw;
  }
  .container {
    padding: 7% 2%;
  }
  .content {
    width: 100%;
  }
  .content .info {
    width: 100%;
    flex-direction: row;
  }
  .content .info .image {
    width: 55%;
    position: relative;
  }
  .content .info .image h1 {
    position: absolute;
    font-size: 1.8vw;
    width: 40%;
    text-align: center;
    font-weight: bolder;
    bottom: 0;
    left: 0;
    margin: 3% 0;
    color: white;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
    padding: 2%;
  }
  .content .info .text {
    width: 45%;
  }
  .content .info .text p {
    font-size: 1.3vw;
  }
  .content .info .text p strong {
    font-size: 1.7vw;
  }
  .content .btn {
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
  }
  .content .btn button {
    font-size: 2vw;
    height: 5vw;
  }
  #menuBar {
    width: 30%;
    right: 0;
  }
  #menuBar .close {
    justify-content: left;
  }
  #menuBar .close a {
    font-size: 4vw;
    cursor: pointer;
  }
  #menuBar .options {
    padding: 0 5%;
    box-sizing: border-box;
  }
  #menuBar .options a {
    font-size: 2.8vw;
    transition: 0.3s;
    border-radius: 1vw;
    border: 2px solid white;
  }
  #menuBar .options a:hover {
    background-color: maroon;
  }
  /*Footer*/

  footer .socialMedias {
    width: 30%;
  }
  footer .contactForm {
    width: 50%;
  }
  footer p {
    font-size: 4.5vw;
  }
  footer .contactForm form p {
    font-size: 1.8vw;
  }
  footer .contactForm form button {
    width: 50%;
    height: 5vw;
    font-size: 2vw;
    margin: 2% 50%;
  }
  form input {
    font-size: 2vw;
  }
  form textarea {
    height: 10vw;
    font-size: 1.8vw;
  }
  /*About Us*/
  .chapters {
    width: 70%;
    font-size: 1.8vw;
    margin-top: 1%;
  }
  .chapters b {
    font-size: 2.8vw;
  }
}

@media only screen and (min-width: 1366px) {
  #top .logo {
    width: 13%;
  }
  #top .logo p {
    font-size: 1.8vw;
  }
  #top .menu {
    width: 25%;
  }
  .container {
    padding: 5% 2%;
  }
  .chapters {
    font-size: 1.5vw;
  }
  .chapters b {
    font-size: 2.5vw;
  }
  footer {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  footer .socialMedias ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vw;
  }
  footer p {
    font-size: 3vw;
  }
  footer .contactForm form p {
    font-size: 1.4vw;
  }
  form input {
    font-size: 1.3vw;
  }
  form textarea {
    font-size: 1.2vw;
  }
  footer .contactForm form button {
    font-size: 1.4vw;
    height: 4vw;
    width: 40%;
    margin-top: 5%;
  }
}
